<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="bold modal-title" id="myModalLabel">
        <span style='color: #b80000;'>RubySR</span> </h4>
      </div>
      <div class="modal-body text-center">
        <i class="far fa-gem" style='font-size: 43px; color: #b80000;'></i>
        <h4 class='bold'>Em Construção</h4>
        <blockquote>Estamos trabalhando ná construção da comunidade
        perfeita pra você, enquanto isso cadastre-se em nossa lista de membros
        e quandos lançarmos nossa plataforma definitia, lhe avisaremos</blockquote>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>