<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class='col-md-8 col-md-offset-2'>
			<h2 class='bold'>RUBY-SR</h2>
			<p>Somos um grupo de pessoas interessadas em aprender, ensinar e divulgar o uso da linguagem de programação Ruby, seu ecossistema e outros assuntos e tecnologias relacionados ao desenvolvimento de software. Pretendemos realizar alguns encontros presenciais durante o ano com o objetivo de compartilhar conhecimento, conhecer pessoas novas e rever o(a)s amigo(a)s.</p>
			<br>

			<h2 class='bold'>Como participar do GURUSR</h2>
			<p>Para saber dos encontros presenicais acompanhe nossa página no <%= link_to 'Meetup', ''%>. Para divulgação de vagas, projetos e dúvidas em geral há clássica <%= link_to 'lista de discussão', '' %>, o <%= link_to 'grupo do Facebook', '' %>, e finalmente o <%= link_to 'grupo do Telegram', ''%>.</p>
			</div>
		</div>
	</div>
</div>
