<%= form_for(member) do |f| %>
	<div class="field col-md-4">
		<div class='input-group'>
			<div class='input-group-addon'><i class="far fa-user-circle"></i></div>
			<%= f.text_field :name, class: 'form-control', required: 'required',
			placeholder: 'Digite o nome', autocomplete: 'off' %>
		</div>
	</div>
	<div class="field col-md-4">
		<div class='input-group'>
			<div class='input-group-addon'><i class="fas fa-at"></i></div>
			<%= f.email_field :email, class: 'form-control', required: 'required',
			placeholder: 'Digite o e-mail', autocomplete: 'off' %>
		</div>
	</div>
	<div class="field col-md-4">
		<%= f.submit 'Inscreva-me', class: 'btn btn-danger btn-lg top' %>
	</div>
<% end %>